<p>
  <mat-toolbar color="primary">
    <span routerLink="">My App</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a mat-flat-button class="mat-flat-button" color="primary" routerLink="/addinsurancetype">
      Add New Insurance
    </a>
    <a mat-icon-button class="example-icon" routerLink="/add"  aria-label="Example icon-button with menu icon">
      <mat-icon>
        add
      </mat-icon>
    </a>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>

